<div class="book-container">
    <%= render template: "layouts/header" %>

    <ul class="books-container" type="none">
        <% @books_info.each do |book|%>
            <li class="book-item"> 
                <a href="/book">  
                    <div class="book-item-info">
                        <%= image_tag("book-example.jpg", :alt => "book image") %>  
                        <h3>Pórtico (La Saga de los Heechee 1)</h1>
                        <p><b>Author:</b> Frederik Pohl</p>
                    </div>
                </a>
            </li>
        <% end %>
    </ul>   
</div>